# QUICK NOTES RELATED TO ML

Ridge and lasso = alpha means the learnin rate
decision tree also has a parameterknown as MAXDEPTH = how deep u wanna split ur DT
                        and how many splots u want 
HYPERPARAMETER.
support vector mavchine w euse kernel we cAn use multiple kernal
Random forest we can choose nultiple parameter
by tuning those hyparameter u can make ur model better

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import pearsonr
from sklearn.preprocessing import StandardScaler

In [2]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report,f1_score
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [3]:
ds=pd.read_csv("heart.csv")
ds.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [4]:
ds.rename(columns={
    "target" : "heart disease"
     },inplace=True)

In [5]:
ds

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heart disease
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
x = ds.drop('heart disease',axis = 1)
y = ds['heart disease']

# K FOLD CROSSVALIDATION¶

Cross-validation is a powerful machine learning technique for evaluating a model's performance
by splitting the dataset into multiple folds (subsets)

hyperparameter decides the model behavior 
our model doesnt gives the good accuracy for every data for that we used K-FOLD-CROSS-VALIDATION
like in normal train test splot u take 80 of data for training and remaining for testing but
in KFOLDCV u take k numbers of data mean if k = 5 u take 5 parts of ur data and then give one part for testing and remaining for training 
and aftetthat u taker the testing part for training and take one from 4 parts for testing anf remaining goes for training and same goes again and again
until the k number of data is reached means if all the data has been trained and test then u takeavarage of all data

In [7]:
# Import necessary libraries
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
import numpy as np # Assuming x and y are numpy arrays or pandas objects

# Sample data (assuming x and y are defined elsewhere in your code)
# Example data for demonstration purposes:
# x = np.random.rand(100, 10)
# y = np.random.randint(0, 2, 100)

# Scale data
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

# Instantiate the model (create an object)
svc_model = SVC() # You can add parameters here, e.g., kernel='linear'
#### make svc_model = SVC() and knn_model = KNeighborsClassifier() of model befire using them in score = crossvalscore(knn_model etc)
# Use cross validation
# The 'svc_model' variable (an instance) is passed as the estimator
scores = cross_val_score(knn_model, x_scaled, y, cv=5, scoring='accuracy')

# Print the scores
#print(scores)
# Print the mean and standard deviation of the scores for a single metric
# print(f"Mean accuracy: {scores.mean():.2f} with a standard deviation of {scores.std():.2f}") TO GET STD OF DATA
print(scores.mean())

0.8118579234972678

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

# feature scaling

In [9]:
# in scaling u scale x test and x train cuz y is the one u need to predict
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [10]:
# making a dictionary for models
models = {
    "SVM ": SVC(probability = True),
    "Decision tree":DecisionTreeClassifier(),
    "Naive Byeas":GaussianNB(),
    "KNN":KNeighborsClassifier(),
    "LogisticRegression" : LogisticRegression(),

}

In [11]:
# make a result tab so u can save results of model here
results=[]

In [12]:
from sklearn.metrics import accuracy_score, f1_score

for name, model in models.items(): # Use .items() for dictionary, or iterate list
    model.fit(x_train_scaled, y_train) # Fit the specific model
    y_pred = model.predict(x_test_scaled) # Predict on scaled test features (X_test)
    acc = accuracy_score(y_test, y_pred) # Compare predictions with true test labels (y_test)
    f1 = f1_score(y_test, y_pred, average='binary') # FIX: Add average='binary' for binary classification
    results.append({
        'Model': name,
        'Accuracy': round(acc, 4),
        'F1': round(f1, 4)
    })

In [13]:
results

[{'Model': 'SVM ', 'Accuracy': 0.81, 'F1': 0.8348},
 {'Model': 'Decision tree', 'Accuracy': 0.74, 'F1': 0.7593},
 {'Model': 'Naive Byeas', 'Accuracy': 0.84, 'F1': 0.8571},
 {'Model': 'KNN', 'Accuracy': 0.85, 'F1': 0.8673},
 {'Model': 'LogisticRegression', 'Accuracy': 0.81, 'F1': 0.8348}]

In [14]:
# saving this model and using it in pickle format
# as shown belowu can save it and use it in frontend
import joblib
joblib.dump(models['KNN'],'KNN.pkl')
joblib.dump(scaler,'scaler.pkl')
joblib.dump(x.columns.tolist(),'columns.pkl')

['columns.pkl']